<% provide(:title, "About") %>

<h1>About</h1>

<p>
  The <a href=""><em>Ruby on Rails 
  Tutorial</em></a>, part of the
<a href="">Learn Enough</a> family 
of
  tutorials, is a
<a href="">book</a> and 
<a href="">screencast
series</a>
  to teach web development with
<a href="https://rubyonrails.org/">Ruby on Rails</a>. 
This is the sample app for the tutorial.
</p>