<footer class="footer>
  <small>
    The <a href="http://www.rails.org/">Tretwit App</a>
    by <a href="http://www..com/">Author1 and Author2</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul> 
  </nav>
</footer>